<table>
    <tr>
        <th>Id</th>
        <th>Título</th>
        <th>Entradilla</th>
        <th>Fecha de creacion</th>
        <th>Fecha de edición</th>
        <th>Id usuario de creación</th>
        <th>Id usuario de edición</th>
        <th>Activa</th>
        <?php foreach($this->paginador as $entrada):?>

    </tr>
    <td><?php echo ($entrada->entrada_id) ?></td>
    <td><a href="<?php echo $this->url(array('action'=>'index','controller'=>'post','lang'=>'es','id'=>$entrada->entrada_id),'default',true); ?>"><?php echo $entrada->titulo ?></a></td>
    <td><?php echo $entrada->entradilla ?></td>
    <td><?php echo $this->formatearFecha($entrada->fecha_creacion) ?></td>
    <td><?php echo $this->formatearFecha($entrada->fecha_edicion) ?></td>
    <td><?php echo $entrada->findParentRow('Application_Model_Usuario','Autor')->user_name ?></td>
    <td><?php echo $entrada->findParentRow('Application_Model_Usuario','Editor')->user_name  ?></td>
    <td><?php echo $entrada->activo ?></td>
    <td><a href="<?php echo $this->url(array('action'=>'edit','controller'=>'post','id'=>$entrada->entrada_id),'admin',true);?>">Editar</a></td>
    <td><a href="<?php echo $this->url(array('action'=>'delete','controller'=>'post','id'=>$entrada->entrada_id),'admin',true);?>">Borrar</a></td>
    </tr>
    <?php endforeach ?>
</table>

<?php echo $this->paginationControl($this->paginador,'Sliding','paginador.phtml');?>

<a href="<?php echo $this->url(array('action'=>'new','controller'=>'post'),'admin',true);?>">Nuevo Post</a>