<table>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>E-mail</th>
        <th>Activo</th>
        <th>Entradas Creadas</th>
        <th>Entradas Editadas</th>
        <?php foreach($this->paginador as $entrada):?>

    </tr>
    <th><?php echo ($entrada->user_id) ?></th>
    <td><?php echo $entrada->user_name ?></td>
    <td><?php echo $entrada->email ?></td>
    <td><?php echo $entrada->activo ?></td>
    <td><?php echo $entrada->findDependentRowset('Application_Model_Entrada','Autor')->count() ?></td>
    <td><?php echo $entrada->findDependentRowset('Application_Model_Entrada','Editor')->count() ?></td>
    </tr>
    <?php endforeach ?>
</table>

<?php echo $this->paginationControl($this->paginador,'Sliding','paginador.phtml');?>