<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Prueba de layout</title>
    <?=$this->headScript();?>
</head>
<body>
<a href="<?php echo $this->url(array('action'=>'index','controller'=>'index'),'default',true);?>">Volver al blog</a><br/>
<a href="<?php echo $this->url(array('action'=>'index','controller'=>'logout'),'admin',true);?>">Cerrar Sesion</a><br/>


<?php echo $this->layout()->content;?>

</body>
</html>