<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Prueba de layout</title>
    <?=$this->headScript();?>

</head>
<body>
<a href="<?php echo $this->url(array('action'=>'index','controller'=>'index'),'admin',true);?>">Panel de control</a><br/><br/><br/>

    <?php echo $this->layout()->content;?>

</body>
</html>