

<h1><?php echo $this->post->titulo ?></h1>
<br>

<b>Entradilla: </b><br/>
<?php echo $this->post->entradilla ?>
<br/><br/>


<b>Contenido:</b><br/>
<?php echo $this->post->contenido ?><br/><br/>

<b>Fecha Creación: </b><?php echo $this->formatearFecha($this->post->fecha_creacion) ?><br/><br/>

<b>Fecha Edición: </b><?php echo $this->formatearFecha($this->post->fecha_edicion) ?><br/><br/>


<b>Autor: </b><?php echo $this->post->findParentRow('Application_Model_Usuario','Autor')->user_name?><br/>
<b>Editor: </b><?php echo $this->post->findParentRow('Application_Model_Usuario','Editor')->user_name?><br/>

<b>TAGS:</b>
<?php foreach ($this->tags as $tag):?>
<?php echo $tag['name'].'/';?>
<?php endforeach;?>